html {

    background-color:antiquewhite;

}


body {
    background-color:white;
    margin: 40px;

}

h1 {
    color:darkorange;
    font-family:"Impact";
    letter-spacing: 2px;
}

h2 {
    color:cornflowerblue;
    letter-spacing: 2px;
    font-family: "Impact";
}

h3 {

color:limegreen;
font-size: 24px;
font-family: "Impact";
letter-spacing: 2px;

}


p {

    color:darkgrey;

}
